




  nav {
      -webkit-box-shadow: none!important;
      -moz-box-shadow: none!important;
      box-shadow: none!important;
  }
  p {
    color: white;
  }
  h1 {
  color: white;
  }
  .image {
  background-image: url(assets/products/tshirt.png);
  }
 

  .section6{
  text-align: center;
  padding: 20px;
  }
  .section3{
  background-color: rgba(195,131,76);
  }


/* Main */

	#main {
		padding: 4em 0 2em 0;
	}

		@media screen and (max-width: 736px) {

			#main {
				padding: 3em 0 1em 0;
			}

		}

		#main .inner {
			width: 90%;
			max-width: 80em;
			margin: 0 auto;
		}

			@media screen and (max-width: 480px) {

				#main .inner {
					width: 95%;
				}

      }
      
      


  
  